@import '../assets/styles/_floating_input';

.cb_modal {
  display: block;
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 999;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    overflow: hidden !important;
    box-sizing: border-box;
  }
  > div {
    background: #fff;
    border: 2px solid #787878;
    width: 90%;
    height: 80%;
    border-radius: 8px;
    > div {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      height: 100%;
      padding: 1rem;
    }
  }
}

.cb_modal[state='1'] {
  top: 0;
}

.attribute_row {
  cursor: pointer;
  border-left: 4px solid transparent;
  height: 40px;
  padding: 0px 1rem;
  &:hover {
    border-color: #5d33b2;
    background-color: #efefef;
  }
  > div {
    display: flex;
    align-items: center;
  }
}

.cb_property_browser_tabs {
  display: flex;
  ul {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #cdcdcd;
    padding: 0 1rem 0rem 0;
  }
  > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    > div {
      overflow: auto !important;
      > div {
        &:nth-child(2) {
          height: 100%;
        }
      }
    }
  }
}
