/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

#root {
  display: flex;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.config {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1);
}
.live-demo {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
}
.outer {
  border: 1px solid #454545;
  padding: 1rem;
  display: flex;
}

.target {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex: 1;
}
.inner {
  border: 1px solid #454545;
  padding: 1rem;
  display: flex;
  flex: 1;
}

.attribute_picker_button {
  background-color: #cdcdcd !important;
}

a {
  color: #777;
  text-decoration: none;
}

p {
  margin: 0 0 45px 0;
  text-align: justify;
}
.page-top {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.header {
  width: 80%;
  background: #000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: 600;
  color: #484848;
  margin: 30px 0 25px 0;
  line-height: 1.3;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.container:after,
.container:before {
  content: ' ';
  display: table;
}

.container:after {
  clear: both;
}

.intro h1 {
  color: #000;
}

.intro h1 strong {
  color: #ffd300;
}

/* - link under - */

.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
  transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
}

.link-arrow:hover:after {
  right: -35px;
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%;
}

.link-arrow-hover:after {
  right: -35px;
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  font-size: 2rem;
  /* padding-bottom: 4px; */
  /* text-transform: uppercase; */
  /* font-family: Montserrat, helvetica, arial, sans-serif; */
  font-weight: 700;
}

.link:active,
.link:focus,
.link:hover {
  outline: 0;
}

.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffd300;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
  transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
}

.link:hover {
  color: #ffd300;
}

.link:hover:before {
  width: 100%;
}

.link-theme:before {
  background: #ff1ead;
}

/* header   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */

.header {
  /* background-color: #fff; */
  width: 100%;
  z-index: 3;
  padding: 0 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: 70px;
  display: flex;
  align-items: center;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  padding-right: 2rem;
  /* background-color: #fff; */
}

.header li a {
  display: block;
  /* padding: 20px 20px 4px 20px; */
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  /* background-color: #fff; */
}

.header .logo {
  color: #ffd300;
  display: block;
  float: left;
  font-size: 2em;
  padding: 2px 0px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* section */

.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.section a {
  position: relative;
  float: left;
  width: 100%;
}

.section a img {
  width: 100%;
  display: block;
}

.section a span {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 2em;
  text-shadow: 1px 1px 0 #000;
}

.section-split a span {
  display: none;
}

.section-split a:hover span {
  display: block;
}

/* 48em = 768px */

@media (min-width: 875px) {
  .header li {
    float: left;
  }
  .header li a {
    /* padding: 20px 0px 0px 0px; */
    margin-left: 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}

.footer {
  font-size: 14px;
  padding: 40px 0;
  background: #fff;
  color: #888;
}

.footer .container {
  position: relative;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 35px;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul a {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-weight: 400;
  color: #888;
  text-transform: none;
}

.footer ul a:active,
.footer ul a:focus,
.footer ul a:hover {
  outline: 0;
}

.footer ul a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
  transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
}

.footer ul a:hover {
  color: #000;
}

.footer ul a:hover:before {
  width: 100%;
}

.footer ul a:before {
  background: #ffd300;
}

.footer .col-logo .path-letter {
  -webkit-transition: all 0.3s cubic-bezier(0.35, 1, 0.33, 1);
  transition: all 0.3s cubic-bezier(0.35, 1, 0.33, 1);
  opacity: 0;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}

.footer .col-logo:hover .path-letter {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.control-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 32px;
  height: 100%;
  width: 100%;
}

.container-fieldset {
  border: 1px solid #cdcdcd;
  border-top: 20px solid #efefef;
  border-bottom: 10px solid #efefef;
  height: 100%;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1);
}

.container-fieldset > legend {
  text-transform: capitalize;
  font-variant: small-caps;
  background: #efefef;
  color: #454545;
  position: relative;
  top: -9px;
  left: 0px;
  padding: 5px 20px;
  font-size: 16px;
  letter-spacing: 4px;
  border-radius: 8px 8px 0 0;
}

.container-fieldset:before {
  content: '';
  display: block;
  position: relative;
  top: -13px;
  left: -10px;
  width: calc(100% + 18px);
  border: 1px solid #5c331a;
}

.radio-button > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
}

.radio-button > ul li {
  color: #aaaaaa;
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.radio-button > ul li input[type='radio'] {
  position: absolute;
  visibility: hidden;
}

.radio-button > ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 0.8em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.radio-button > ul li:hover label {
  color: #0ce;
}

.radio-button > ul li .check {
  display: block;
  position: absolute;
  border: 5px solid #aaaaaa;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

.radio-button > ul li:hover .check {
  border: 5px solid #0ce;
}

.radio-button > ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.radio-button > ul li input[type='radio']:checked ~ .check {
  border: 5px solid #0ce;
}

.radio-button > ul li input[type='radio']:checked ~ .check::before {
  background: #0ce;
}

.radio-button > ul li input[type='radio']:checked ~ label {
  color: #0ce;
}
