.cb_simple_button {
  width: 10%;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: 1px solid #454545;
  &:hover {
    letter-spacing: 0.8em;
    border-left: 10px solid #454545;
  }
}

.cb_list_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4px;
  > div {
    width: 100%;
    border-radius: 4px;
    padding: 4px;
    border: 1px dotted #454545;
    display: flex;
    &:hover {
      border: 1px solid #454545;
    }
    > div {
      &:nth-child(1) {
        font-weight: 700;
        width: 30%;
        align-items: center;
        display: flex;
        > div {
          display: flex;
          &:nth-child(2) {
            flex: 1;
            padding: 0 1rem;
          }
          &:nth-child(1) {
            height: 100%;
            display: flex;
            flex-direction: column;
          }
        }
        button {
          height: 100%;
          width: 100%;
          padding: 1em auto;
          background-color: #6ecb63;
          cursor: pointer;
          border: none;
          text-transform: uppercase;
          color: #fff;
        }
      }
      &:nth-child(2) {
        flex: 1;
        padding: 1rem;
        display: grid;
        grid-gap: 5px;
        > div {
          border-bottom: 1px solid #cdcdcd;
        }
      }
    }
  }
}

p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

img {
  width: 30%;
  float: left;
  margin: 0 1em 0.5em 0;
}

/*** ACCORDION ***/

/* Header */
.cb_accordion > div > div:first-of-type {
  padding: 1em;
  // background-color: #cdcdcd;
  color: #454545;
  text-transform: uppercase;
  user-select: none;
  font-weight: 200;
  cursor: pointer;
  // border-radius: 0.5em;
  // box-shadow: 0 -10px 30px 2px #cdcdcd inset;
  border: 1px solid #cdcdcd;
}
.cb_accordion > div > div:first-of-type:hover {
  // background-color: #cdcdcd;
}

/* Content */
.cb_accordion > div > div:last-of-type {
  background-color: #f9f9f9;
  margin: 0 0.5em;
  box-shadow: 0 0 20px 2px #cdcdcd;
}

/* Inner */
.cb_accordion .cb_accordion_item {
  padding: 1em;
  // opacity: 0;
  transition: opacity 300ms ease;
  overflow: auto;
}
.cb_accordion > div:first-child .cb_accordion_item {
  max-height: 200px;
}
.cb_accordion > div.open .cb_accordion_item {
  opacity: 1;
  transition: opacity 700ms ease;
}
.cb_accordion img.cb_accordion_item {
  padding: 0;
  margin: 0;
  width: 100%;
}
